*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
#tab-menu{
    .menu{
        margin-top: 20px;
        width: 500px;
        display: flex;
        background-color:gainsboro ;
        cursor: pointer;
        border: 1px solid gray;
        div{
         background-color: white;
        padding: 20px;
        margin: 10px;
        &:hover{
            background-color: yellow;
            transition: .5s;
        }
        }
    }
    .body{
        border: 1px solid gray;
        width: 500px;
        padding: 30px;
    }
}
.item{
    display: block;
}
.active{
    background-color: gray !important;
}